A one using raw data as input (using dataset `rmNaNDate_01`)

In [16]:
# First code block is the import libraries  
import numpy as np
import pandas as pd
from sklearn import metrics
from matplotlib import pyplot as plt
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score

In [17]:
dataPath = '../../preprocess_train_dataset/rmNaNDate_01.csv'

df_spaceship = pd.read_csv(dataPath)

df_spaceship.shape

(7251, 14)

In [18]:
df_spaceship.isna().sum()

PassengerId       0
HomePlanet      177
CryoSleep         0
Cabin           167
Destination     154
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            168
Transported       0
dtype: int64

In [19]:
# Drop rows that has NaN values on selected columns
df_spaceship = df_spaceship.drop(columns=['PassengerId', 'HomePlanet','Cabin', 'Destination', 'Name'])

In [20]:
df_spaceship.isna().sum()

CryoSleep       0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [21]:
train_x, train_y = df_spaceship.drop(columns=['Transported']), df_spaceship['Transported']

In [22]:
train_x

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,False,39.0,False,0.0,0.0,0.0,0.0,0.0
1,False,24.0,False,109.0,9.0,25.0,549.0,44.0
2,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,False,16.0,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...
7246,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0
7247,True,18.0,False,0.0,0.0,0.0,0.0,0.0
7248,False,26.0,False,0.0,0.0,1872.0,1.0,0.0
7249,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0
7250,False,44.0,False,126.0,4688.0,0.0,0.0,12.0

In [23]:
train_x.columns

Index(['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall',
       'Spa', 'VRDeck'],
      dtype='object')

In [24]:
k_folds = KFold(n_splits = 8)

logisticReg_model = LogisticRegression(solver = 'liblinear', class_weight = 'balanced', max_iter =300, penalty = 'l1')

scores = cross_val_score(logisticReg_model, train_x, train_y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("\nAverage CV Score: ", scores.mean())

Cross Validation Scores:  [0.78059537 0.75303197 0.77728776 0.78587196 0.80463576 0.78918322
 0.79139073 0.79028698]

Average CV Score:  0.7840354697703172